.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 0;
	padding-bottom: 4vh;
	padding-top: 2vh;
	background-color: rgb(221, 216, 216);
}

.logo {
	width: 10vw;
}

.header__text {
	color: black;
	font-weight: 900;
	font-size: 5vw;
}

.header__link {
	text-decoration: none;
}
